.header {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	flex-grow: 1;
}

.config-info {
	align-items: flex-start;
	display: flex;
	flex-direction: column;
	padding: 0.5rem 0.2rem;
	width: 45%;
}

.config-item {
	align-items: center;
	display: flex;
	justify-content: space-between;
	width: 100%;
}
