*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	height: 600px;
	overflow: hidden;
	width: 800px;
}

html::-webkit-scrollbar {
	display: none;
}

body {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	height: 600px;
	overflow: hidden;
}

body::-webkit-scrollbar {
	display: none;
}

#app-container {
	height: 600px;
	overflow: hidden;
}
