*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	height: 600px;
	width: 800px;
	overflow: hidden;
}

body {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	height: 100%;
	overflow: hidden;
}
