.app {
	height: 100%;
}

.toggle-box {
	display: flex;
	flex-direction: column;
	font-size: 1.1rem;
	height: 456px;
	overflow-y: scroll;
}

.toggle-wrap {
	align-items: center;
	display: flex;
	justify-content: space-between;
	padding: 0.75rem;
}

.toggle-wrap-label {
	text-align: left;
	flex-grow: 1;
}

.toggle-box::-webkit-scrollbar-track {
	background-color: transparent;
}

.toggle-box::-webkit-scrollbar {
	width: 13px;
}

.toggle-box::-webkit-scrollbar-thumb {
	background-color: #3f51b5;
}

.num-string-input {
	width: 50%;
}

.react-toggle {
	height: fit-content;
}

.react-toggle-track {
	background-color: #8d1512 !important;
}

.react-toggle--checked .react-toggle-track {
	background-color: #128d15 !important;
}

.info-box {
	margin-bottom: 0.25rem;
}
