.MuiAccordion-root.accordion {
	margin: 0.2rem 0;
}

.MuiAccordionSummary-content.content-summary {
	margin: 0.5rem 0;
}

.MuiAccordionSummary-content.Mui-expanded.content-summary {
	margin: 0.75rem 0;
}

.accordion-details {
	display: flex;
	flex-direction: column;
}
